/* Colours */

/* Dark Mode */
body {
  background-color: #131313 !important;
  color: #e6e6e6!important;
}

.icon {
  color: #e0e0e0;
}

#about {
  background-color: rgb(56, 56, 56);
}

.collapse.show, .collapsing{
  background-color: #131313;
}

.horizontalRule {
  border-color: #e6e6e6;
}

/* Light Mode */
body.light-mode {
  background-color: #ececec !important;
  color: #191919!important;
}

.light-mode .icon {
  color: #1f1f1f;
}

.light-mode #about{
  background-color: rgb(199, 199, 199);
}

.light-mode .collapse.show, .light-mode .collapsing{
  background-color: #ececec;
}

.light-mode .horizontalRule {
  border-color: #191919;
}

/* Layout */

.App {
  text-align: center;
}

.sectionPadding {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.headerPadding {
  padding-top: 12vh;
  padding-bottom: 32vh;
}

.headerPad {
  height: 10vh;
}

.lists {
  list-style-type: none;
  padding-inline-start: 0px;
}

.profileImg {
  border-radius: 50%;
}

.projectImg {
  width: 95%;
}

.thin {
  font-weight: 100;
}

.medium {
  font-weight: 300;
}

#themeSwitch {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  min-width: 120px;
}

.mainTitle {
  font-size: 90px;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.filler {
  height: 1000px;
}

html {
  scroll-padding-top: 70px; /* height of sticky header */
}
